version: "3.9"

services:
  bot:
    build:
      context: .
      dockerfile: bot/Dockerfile
    env_file:
      - .env
    restart: unless-stopped

  landing:
    build:
      context: ./landing
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "3003:3000"
    restart: unless-stopped
